<div class="row">
  <div class="col-xs-12 col-sm-3">
    <nav id="main-navigation" class="collapse navbar-collapse">
      <ul class="nav nav-pills nav-stacked" role="navigation">
        <li><%= link_to 'Dashboard', '#' %></li>
        <li><%= link_to 'Authors', '#' %></li>
        <li class="active"><%= link_to 'Programs', '#' %></li>
        <li><%= link_to 'Degrees', '#' %></li>
      </ul>
    </nav>
  </div>
  <div class="col-xs-12 col-sm-9">

    <div class="row">
      <div class="col-xs-9">
        <h1>Programs</h1>
      </div>
      <div class="col-xs-3">
        <%= link_to 'Add a New Program', '#new_program_path', class: 'btn btn-default add-button pull-right' %>
      </div>
    </div>

    <table id="programs-index" class="table table-bordered table-striped table-responsive">
      <thead>
        <tr>
          <th>Description</th>
          <th>Active?</th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td><%= link_to 'Acoustics', '#edit_program_path(program)' %></td>
          <td>Yes</td>
        </tr>
        <tr class="even">
          <td><%= link_to 'Adult Education', '#edit_program_path(program)' %></td>
          <td>Yes</td>
        </tr>
        <tr class="odd">
          <td><%= link_to 'Advertising', '#edit_program_path(program)' %></td>
          <td>Yes</td>
        </tr>
        <tr class="even inactive">
          <td><%= link_to 'Aerospace Engineering', '#edit_program_path(program)' %></td>
          <td>No</td>
        </tr>
        <tr class="odd inactive">
          <td><%= link_to 'Agricultural And Biological Engineering', '#edit_program_path(program)' %></td>
          <td>No</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>