<h2>Author Information</h2>

<%= form.simple_fields_for :author do |f| %>
  <%= f.input :access_id, label: 'Access id' %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :middle_name %>
  <%= f.input :alternate_email_address %>
  <%= f.input :psu_email_address, label: 'PSU email address' %>
  <%= f.input :phone_number %>
  <%= f.input :is_alternate_email_public, label: "Display your alternate email address on your eTD document summary page?", as: :boolean, wrapper: :checkbox if Paper.ask_to_display_email? %>
  <%= f.input :address_1 %>
  <%= f.input :address_2 %>
  <%= f.input :city %>
  <%= f.input :state, collection: Author::USSTATES, prompt: "Please Select" %>
  <%= f.input :zip %>
<% end %>
