<div class="row">
  <div class="col-xs-12">
    <h1 id="format-review-files-heading">Upload Final Submission Files</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <%= render partial: 'shared/error_messages', locals: { object: @submission } %>

    <%= simple_form_for [:author, @submission], url: author_submission_update_final_submission_path do |f| %>
      <%= f.input :defended_at, as: :date %>
      <%= f.input :abstract, as: :text %>
      <%= f.input :keywords, as: :text %>
      <%= f.input :access_level, as: :radio_buttons, collection: [['Open Access', 'open_access'], ['Restricted (Penn State only)', 'restricted_to_institution'],['Restricted', 'restricted']], wrapper: :vertical_radio_and_checkboxes %>

      <div class="links cocoon-links">
        <label>Files<span class="required-astrisk">*</span></label>
        <%= link_to_add_association f, :final_submission_files,
                                       class: 'btn btn-default btn-sm',
                                       data: { association_insertion_node: '#final-submission-file-fields', association_insertion_method: 'append' },
                                       form_name: 'file_fields',
                                       partial: 'file_fields' do %>
          <span class="glyphicon glyphicon-plus"></span> Additional File
        <% end %>
      </div>
      <div id="final-submission-file-fields">
        <%= f.simple_fields_for :final_submission_files do |final_submission_file| %>
          <%= render 'file_fields', file_fields: final_submission_file %>
        <% end %>
      </div>

      <%= f.input :has_agreed_to_terms, label: 'I agree', as: :boolean, wrapper: :vertical_boolean %>

      <div class="form-group actions">
        <%= f.button :submit, class: "btn-primary", value: "Submit final files for review" %>
        <%= link_to "Cancel", author_root_path %>
      </div>
    <% end %>
  </div>
</div>
