<div class="row">
  <div class="col-xs-12">
    <h1>Program Information</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= simple_form_for [:author, @submission] do |f| %>
      <%= f.input :semester, label: 'Semester Intending to Graduate', collection: Submission::SEMESTERS, prompt: "Please Select" %>
      <%= f.input :year, label: 'Graduation Year', collection: Submission.years, prompt: "Please Select" %>
      <%= f.input :program_id, label: 'Program', collection: Program.all, prompt: "Please Select" %>
      <%= f.input :degree_id, label: 'Degree', collection: Degree.all, prompt: "Please Select" %>
      <div class="form-group actions">
        <%= f.button :submit, class: "btn-primary", value: "Save Program Information" %>
        <%= link_to "Cancel", author_root_path %>
      </div>
    <% end %>
  </div>
</div>
