<div class="row">
  <div class="col-xs-12">
    <h1>Program Information</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div id="title" class="review-group odd">
      <label>Title</label>
      <p><%= @submission.title %></p>
    </div>

    <div id="program" class="review-group">
      <label>Program</label>
      <p><%= @submission.program_name %></p>
    </div>

    <div id="degree" class="review-group odd">
      <label>Degree</label>
      <p><%= @submission.degree_name %></p>
    </div>

    <div id="semester" class="review-group">
      <label>Semester Intending to Graduate</label>
      <p><%= @submission.semester %></p>
    </div>

    <div id="year" class="review-group odd">
      <label>Graduation Year</label>
      <p><%= @submission.year %></p>
    </div>
  </div>
</div>
