<%= simple_form_for @program do |f| %>
  <%= f.input :name %>
  <%= f.input :is_active, wrapper: :checkbox %>
  <div class="form-group actions">
    <%= f.button :submit %>
    <%= link_to "Cancel", programs_path %>
  </div>
<% end %>
