<tr class="<%= cycle('odd', 'even') %>">
  <td><%= link_to author.access_id, edit_author_path(author) %></td>
  <td><%= author.last_name %></td>
  <td><%= author.first_name %></td>
  <td><%= author.alternate_email_address %></td>
  <td><%= author.psu_email_address %></td>
</tr>
