<div class="nested-fields">
  <% if file_fields.object.filename? %>
    <div id="<%= file_fields.object.filename_identifier %>" class="form-group uploaded-file-link">
      <%= file_fields.input :filename, as: :hidden %>
      <%= link_to_remove_association "[delete]", file_fields, class: 'text-danger' %>
      <%= link_to file_fields.object.filename_identifier, file_fields.object.filename_url, class: 'file-link', target: '_blank' %>
    </div>
  <% else %>
    <%= file_fields.input :filename, as: :file, label: false %>
    <%= link_to_remove_association "[remove]", file_fields, class: 'text-danger' %>
  <% end %>
</div>