<tr class="<%= cycle('odd', 'even') %> <%= 'inactive' if degree.inactive? %>">
  <td><%= link_to degree.name, edit_degree_path(degree) %></td>
  <td><%= degree.description %></td>
  <td><%= degree.degree_type %></td>
  <td><%= degree.active_status %></td>
</tr>
