<div class="row">
  <div class="col-xs-12 col-sm-9">
    <h1>Contact Information</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-9">
    <%= simple_form_for [:author, @author] do |f| %>
      <%= f.input :access_id, label: 'Access id' %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :middle_name %>
      <%= f.input :alternate_email_address %>
      <%= f.input :psu_email_address, label: 'PSU email address' %>
      <%= f.input :phone_number %>
      <%= f.input :is_alternate_email_public, label: "Display your alternate email address on your eTD document summary page?", as: :boolean, wrapper: :checkbox if Submission.ask_to_display_email? %>
      <%= f.input :address_1 %>
      <%= f.input :address_2 %>
      <%= f.input :city %>
      <%= f.input :state, collection: Author::USSTATES, prompt: "Please Select" %>
      <%= f.input :zip %>
      <div class="form-group actions">
        <%= f.button :submit, class: "btn-primary", value: "Save" %>
        <%= link_to "Cancel", author_root_path %>
      </div>
    <% end %>
  </div>
</div>
