<%= form.simple_fields_for :committee_members do |cmf| %>
  <fieldset class="committee-member-fields">
    <%= cmf.input :submission_id, as: :hidden %>
    <%= cmf.input :is_advisor, as: :hidden %>
    <%= cmf.input :role, as: :hidden %>
    <div class="row ">
      <div class="col-xs-12">
        <label class="role-label"><%= cmf.object.role %><span title="require" class="required-asterisk">*</span></label>
      </div>
       <div class="col-xs-12 col-sm-6">
        <div class="input-group name <%=cmf.object.role.parameterize%>">
          <span class="input-group-addon">Name</span>
           <%= cmf.input :name, label: false %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="input-group email <%=cmf.object.role.parameterize%>">
          <span class="input-group-addon">Email</span>
          <%= cmf.input :email, label: false %>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>

