<div class="row">
  <div class="col-xs-12">
    <h1>Committee</h1><%= render partial: 'committee_modal_link'  %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= simple_form_for @committee, url: author_submission_committee_path, method: :post do |form| %>

      <%= render partial: "form_fields", locals: { form: form } %>

      <div class="form-group actions">
        <%= form.button :submit, class: "btn-primary", value: "Save Committee" %>
        <%= link_to "Cancel", author_root_path %>
      </div>
    <% end %>
    <%= render partial: "committee_modal" %>
  </div>
</div>
