<div class="row">
  <nav id="main-navigation" class="collapse navbar-collapse">
    <ul class="nav nav-pills nav-stacked" role="navigation">
      <% Degree.degree_types_json.each do |type| %>
        <li class="<%= 'active' if params[:degree_type] == type["parameter"] %>">
          <%= link_to type["plural"], admin_submissions_dashboard_path(type["parameter"]) %>
        </li>
      <% end %>
      <li class="<%= 'active' if controller_name == 'authors' %>">
        <%= link_to 'Authors', admin_authors_path %>
      </li>
      <li class="<%= 'active' if controller_name == 'programs' %>">
        <%= link_to 'Programs', admin_programs_path %>
      </li>
      <li class="<%= 'active' if controller_name == 'degrees' %>">
        <%= link_to 'Degrees', admin_degrees_path %>
      </li>
    </ul>
  </nav>
</div>